<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>wbof@1crepragre.pbz</string>
	<key>contactName</key>
	<string>Roben Kleene</string>
	<key>description</key>
	<string>Quick TextMate customizations.</string>
	<key>name</key>
	<string>Roben Kleene</string>
	<key>uuid</key>
	<string>D432EDD7-FBB4-48FA-9BBC-F2FB58BC6EFF</string>
</dict>
</plist>
